#/usr/lib/systemd/system/node_exporter.service
[Unit]
Description=node_exporter
Documentation=https://prometheus.io/
After=network.target
[Service]
Type=simple
User=prometheus
ExecStart=/opt/public/apps/node_exporter/current/node_exporter \
          --web.config=/opt/public/apps/node_exporter/conf/web-config.yml \
          --collector.ntp \
          --collector.mountstats \
          --collector.systemd \
          --collector.ntp \
          --collector.tcpstat
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
Restart=always
[Install]
WantedBy=multi-user.target